@import url('kokila/Kokila Regular.ttf');

body{

  font-family: "kokila" !important;
 
}

.badapatra {
    height: 100vh;
    background: linear-gradient(41deg, rgb(145, 31, 31), rgb(5, 5, 144));
}

@media (min-width: 1920px) { 
    h3 {
        font-size: 32px;
    }
    .fs-3{
        font-size: 42px!important;
    }
    h1{
        font-size: 36px;
    }

    .article ul li {
        font-size: 30px;
    }
    p {
        font-size: 30px;
        margin-bottom: 0px;
        line-height: 46px;
    }
    .fs-4 {
        font-size: 2.5rem !important;
    }
    // .partinedhi-img{
    //     height: 70%!important;
    //     object-fit: cover;
    // }

    
}
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 8%;
}

.header {
    height: 20%;
}

.main-body {
    height: 68%; /* Reduce height slightly to account for margin */
    display: flex;
    gap: 1%; /* Space between first and second divs */
    margin: 1%;
}

.main-body__first {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-body__second {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-body__second--first,
.main-body__second--second {
    flex: 1;
    margin-bottom: 1rem;
}

/* Ensure the last section doesn't have extra bottom margin */
.main-body__second--second {
    margin-bottom: 0;
}

.main-body--details {
    height: 100%;
    /* margin: 2%; */
    width: 100%;
}
.for-gap{
    gap: 3%;
}
.article{
    ul{
        margin-left: 0;
        li{
            font-size: 18px;
        }
    }
}
.partinedhi{
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.bg-primary{
    background-color: #3943b7!important;
}
.btn-home{
    background: #d3030e!important;
    border: none;
    
}
// for slider
.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.partinedhi {
    min-width: 100%;
    box-sizing: border-box;
    &__details{
        height: 100%;
    }
    .partinedhi-img{
        height: 160px;
        object-fit: cover;
    }
}



//slider end
