.badapatra{
    height: 100vh;
    background: linear-gradient(41deg, rgb(145, 31, 31), rgb(5, 5, 144));
}
.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    
}
.header{
    height: 20%;
}
.main-body{
    height: 72%;
}
.footer{
    height: 8%;
}

.main-body{
    &__first{
        width: 65%;
    }
    &__second{
        width: 35%;
    }
    &--details{
        height: 96%;
        width: 98%;
        margin: 1%;
    }
}



