.badapatra{
    height: 100vh;

    background: linear-gradient(41deg, rgb(145, 31, 31), rgb(5, 5, 144));
    // overflow: hidden;
}
.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    
}
// .h-full{
//     height: 68vh;
// }
// .h-half{
//     height: 34vh;
// }
.body-content{
    &--first{
        width: 70%;
    }
    &--second{
        width: 30%;
    }
}
.body-content {
    display: flex;
    align-items: stretch; /* Ensures both columns are of the same height */
}

.body-content--first,
.body-content--second {
    flex: 1; /* Makes both divs take equal width and height */
}



.h-full {
    height: 100%;
}
@media  (min-width: 1920px) {
    .title-body{
        p{
            font-size: 30px;
        }
    }
    .body-text{
        ul{
            li{
                font-size: 30px;
                p{
                    font-size: 30px;
                }
            }
        }
    }


}